<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iusofts.id.dao.IdGeneratorDao" >
  <resultMap id="BaseResultMap" type="com.iusofts.id.entity.IdGenerator" >
      <id column="type" property="type"/>
      <result column="uid" property="uid"/>
      <result column="step_min" property="stepMin"/>
      <result column="step_max" property="stepMax"/>
  </resultMap>
    <select id="getCurrentUid" resultMap="BaseResultMap">
    select type,uid,step_min,step_max from id_generator where type = #{type} for update
  </select>
  <update id="updateIdGenerator" parameterType="com.iusofts.id.entity.IdGenerator" >
    update id_generator set uid = #{uid} where type = #{type}
  </update>
</mapper>